{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="col-12">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">date</th>
                <th scope="col">names</th>
                <th scope="col">score</th>
                <th scope="col">Bet</th>
            </tr>
        </thead>
        <tbody>
            {% comment %}
            {% for fixture in fixtures %}
                <tr tr class="bg-info">
                    <td>{{forloop.counter}}</td>
                    <td>{{fixture.date}}</td>
                    <td>{{fixture.home_team }}  {{fixture.away_team }}</td>
                    <td>{{fixture.home_goals }}  {{fixture.away_goals }}</td>
                    <td><button class="btn btn-primary">Bet</button></td>
                </tr>
            {% endfor %}
            {% endcomment %}
        </tbody>
    </table>
    
    <form method="post">
        {{ matchtips.management_form }}
        {% for form in matchtips %}
            <p>{{form.instance}}</p>
            <div class="form-row">
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              {% for field in form.visible_fields %}
                <div class="col-md-1 mb-1">
                  <input type="text" class="form-control" id="{{field.name}}" value="{{field.value}}" required>
                </div>
              {% endfor %}
            </div>
            <br>
        {% endfor %}
    </form>
  </div>
    
{% endblock %}